body {
    margin: 0;
    padding: 0;
    direction: rtl;
}


.container {
    width: 30%;
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.up {
    width: 100%;
    padding: 30px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    background-color: #3dbdad;
    position: relative;
}

#adding {
    width: 100%;
}

.search-member svg {
    width: 30px;
}

#adding svg {
    width: 30px;
}

.down {
    background-color: antiquewhite;
    width: 100%;
}

ul {
    list-style-type: none;
}

li {
    font-size: 20px;
}

.mini-form {
    display: none;
    align-items: center;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100px;
}

.info input {
    height: 40px;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.img-info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.img-info svg {
    width: 30px;
}

.s-parent {
    display: none;
    align-items: center;
    justify-content: space-around;
}

.s-parent input {
    height: 25px;
}